.header {
  margin: 0 auto;
  padding: 45px 0 41px;
  width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 920px) {
  .header {
    width: calc(2*282px + 17px);
  }
}

@media screen and (max-width: 620px) {
  .header {
    max-width: 100vw;
    padding: 28px 0 32px;
  }
}
