.entry__input {
  margin: 0 0 26px;
  padding: 0 0 9px;
  max-width: 358px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.22;
  border: none;
  border-bottom: 2px solid #CCCCCC;
  background-color: transparent;
}
